verbose: false

status: 1

paths:
  jsons:
    - first
    - second
    - third
  images: important/path/to/images/

transforms:
  - name: Normalize
    function: ToTensor
    params: null
  -
    name: Padding
    function: Pad
    params:
      fill: 3
      padding_mode: reflect

reader:
  need_reader: True

  params:
    width: 512
    height: 521
    grayscale: True

